@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
}


.top-header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(to bottom right, gold, khaki);
    height: 50px;
    width: 100%;
    border-bottom: solid 2px black;
    
    
}

.logo-app {
    display: flex;
    align-items: center;    
    font-size: 16px;
        
}
.logo-user {
    display: flex;
    align-items: center;
    cursor: pointer;
    
}

.name-logo, .name-perfil {
    margin-left: 10px;
    text-transform: uppercase;
    font-weight: 500;
    
}

.body{
    background-image: url("../../images/background-splash-4x4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.main-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 83vh;
    max-height: 100%;
    background-color: rgb(255, 255, 255, 0.2);
    backdrop-filter: blur(15px);
    align-content: space-evenly;
}

.box-function {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    height: 110px;
    width: 110px;
    border-radius: 20px;
    border: 1px solid white;
    font-weight: 500;
    font-family: Poppins;
    text-align: center;
    margin: 25px;
    cursor: pointer;
    box-shadow: 0px 10px 30px 5px rgba(0, 0, 0, 0.8);
    background-color: rgb(255, 255, 255, 0.8);
    backdrop-filter: blur(15px);
    padding: 10px;
    
   
}


.box-function:hover {
    /*background: rgb(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);*/
    background: linear-gradient(to bottom right, cyan, transparent);
    border: 1px solid black;
    font-weight: 700;
    transform: scale(1.1);
    transition: 200ms linear; 
}
.box-function:hover span {
    border-top: solid 4px white;

}

.box-function span {
    
    border-radius: 10px;
    width: 100%;
    border-top: solid 4px darkturquoise;
}


@media (max-width: 600px) {
    .box-function {
        transform: scale(0.8);
        margin: 0px;     
     
    }

    .main-box {
        min-height: 87.4vh;
        max-height: 100%;
    }

    

}

.footer {
    background: linear-gradient(to bottom right, gold, khaki);
    
    height: auto;
    width: 100%;
    border-top: solid 2px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Poppins;
    font-size: 17px;
    font-weight: 500;
    
}
.logos-footer {
    
    margin-bottom: 8px;
    width: 150px;
    display: flex;
    justify-content: space-evenly;
}

.logo-social {
    cursor: pointer;
}

